if [ -f ".env" ]; then
    export $(cat .env | xargs);
else
    echo -e "\e[1;33m Please create a .env (cp .env.example .env) \e[0m";
fi

export PROJECT_PATH=$PWD
export GROUPID=$(id -u)
export USERID=$(id -g)