<h1>Recuperação de e-mail</h1>
<p>Olá <%= email %>,</p>
<p>
  Você solicitou a recuperação de seu e-mail. Clique no link abaixo para
  redefinir sua senha:
</p>
<a href="<%= link %>"><%= link %></a>
<p>
  Se você não solicitou a recuperação de e-mail, por favor, ignore esta
  mensagem.
</p>
